body{
    background-image: linear-gradient(to right,rgb(94, 94, 247),rgb(238, 50, 50));
    padding: 20px;
}
.container{
    position:relative;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width:95%;
    padding: 50px;
}
.p1{
    width: 360px;
    font-size: 20px;
}
.p2{
    display: flex;
    justify-content: space-around;
}
.box1, .box2, .box3, .box4{
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    width: 350px;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 25px;
    transition: transform 0.3s;
    margin:10;
}
p{
    margin-top: 0px;
}
h1,h2,h3{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 100;
}
h1{
    font-size: 50px;
}
.icon{
    width: 60px;
    margin-bottom: 0px;
}
.ironman1, .ironman2, .ironman3{
    width: 400px;
    position: absolute;
    border-radius: 5PX;
}
.ironman1{
    top: 20px;
    left: 40%;
    z-index: 1;
}
.ironman2{
    top:60px;
    left:60%;
    z-index: 2;
}
.ironman3{
    top:130px;
    left: 50%;
    z-index: 3;
}

.box1:hover, .box2:hover, .box3:hover, .box4:hover{
    transform: scale(1.2);
}
.ironman1:hover, .ironman2:hover, .ironman3:hover{
    transform: scale(1.1);
    z-index: 100;
    border: 5px solid rgb(253, 135, 135);
}